*,*::before,*::after{
    box-sizing: border-box;
    margin:0 ;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background-image:url('./assests/images1.webp');
    background-size: cover; 
    background-position: center; 
    opacity: 0.9;

    display: grid;
    place-items: center;
}
.game-info{
   color: white;
   position: absolute;
   top: 3rem;
   left: 50%;
   transform: translateX(-50%);
   background-color: rgba(255,255,255,0.17);
   border: 1px solid rgba(255,255,255,0.25);
   border-radius: 1rem;
   padding: 0.35rem 3rem;
   text-align: center;
}

.tic-tac-toe{
    width: 90%;
    max-width: 20rem;
    background-color: rgba(255,255,255,0.17);
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1/1;
}
.box{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.box1,.box2,.box4,.box5,.box7,.box8{
    border-right: 2px solid white;
}
.box1,.box2,.box3,.box4,.box5,.box6{
    border-bottom: 2px solid white;
}
.btn{
    color: white;
    position: absolute;
    left: 50%;
    bottom: 3rem;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.17);
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    display: none;
}
.btn.active{
    display: flex;
}
.win{
    background-color:#5072A7;
}