*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #6674CC;
}
a{
    text-decoration: none;
}
.flex{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    max-width: 40%;
    margin: 0 auto;
    background-color: #FFFFFFC2;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}
.image-div img{
    border-radius: 10px;
    padding-right: 30px;
}
.price{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    padding-right: 270px;
}

.button {
    background-color: rgb(76, 76, 175);
    border: none;
    color: white;
    padding: 15px 140px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 36px;
    transition: background-color 0.2s ease;
  }
  .button:hover{
    background-color: blue;
  }
  .course-details{
    margin-top: 20px;
    margin-right: 36px;
  }
  .course-details h2{
    margin-bottom: 10px;
  }
  .course-details p{
    padding: 5px;
    color: black;
    font-size: 20px;
    font-weight: 600;
  }
.course-details a{
    display: flex;
    align-items: center;
    justify-content:flex-start;
}